header{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background-color: #1e1f21;
	border-bottom: 1px solid #424244; 
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
    z-index: 1001;
}
header .page-title{ 
	color: #fff;
	font-size: 24px;
}
header .customer-action{ 
	display: flex;
	align-items: center;
}
header .customer-action .customer-create{
	width: 30px;
	height: 30px;
	display: flex; 
	align-items: center;
	justify-content: center;
	background-color: rgb(240, 106, 106);
	color: #fff;
	border-radius: 30px;
	cursor: pointer;
	margin: 0 20px 0 0;
}
header .customer-action .customer-auth{
	position: relative;
	width: 30px;
	height: 30px;
	display: flex; 
	align-items: center;
	justify-content: center;
	background-color: rgb(240, 106, 106);
	color: #fff;
	border-radius: 30px;
	cursor: pointer;
}
header .customer-action .customer-auth .auth-action-wrapper{
	display: none;
	position: absolute;
	z-index: 10000;
	right: 0;
	top: 130%;
	width: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #1e1f21;
}
header .customer-action .customer-auth .auth-action-wrapper .auth-action-item{ 
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 20px;
	color: #fff; 
	padding: 5px 8px;
}
header .customer-action .customer-auth .auth-action-wrapper .auth-action-item:hover{
	background-color: #fff1;
}
header .customer-action .customer-auth.is-open .auth-action-wrapper{
	display: block;
}





